body {
    margin: 0;
    background-image: linear-gradient(0deg, black, white, rgb(237, 195, 219), white);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

header {
    background-image: linear-gradient(150deg, white, rgb(237, 195, 219));
    color: rgb(255, 196, 199);
    height: 300px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "omnes-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: fixed;
    top: 0;
}

.title {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    color: black;
    justify-content: space-between;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    background-color: rgb(36, 32, 39);
    margin-bottom: 0;
    margin-top: 0;
}

a {
    color:rgb(255, 196, 199);
    text-decoration: none;
}

a:hover {
    color: rgb(42, 149, 166);
}

#magica {
    width: 800px;
    object-fit: contain;
    margin: auto;
}

#jp-magica {
    width: 400px;
    object-fit: contain;
    margin: auto;
}

.big-image {
    max-width: 70%;
    object-fit: cover;
    margin-top: -90px;
    position: fixed;
    z-index: -1;
    right: 0;
    top: 400px;
}


h1 {
    margin: 0;
    color: rgb(252, 149, 156);
    font-size: 30px;
    font-family: "zen-maru-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    margin: auto;
    width: 50vw;
    padding-bottom: 30px;
    font-family: "zen-maru-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.italic {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.japanese {
    font-family: "zen-maru-gothic", sans-serif;
}

main {
    max-width: 100vw;
    margin: auto;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1;
    margin-top: 300px;
}

.content {
    padding-bottom: 30px;
    width: 50vw;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

.accent {
    font-size: 12.5px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    height: 200px;
    max-width: 100vw;
}

@media (max-width: 600px) {
    #magica {
        max-width: 350px;
    }

    #jp-magica {
        width: 300px;
    }

}

@media (max-width: 900px) {
    .menu {
        display: flex;
        flex-direction: column;
        height: 60px;
        text-align: center;
        justify-content: flex-start;
        overflow: hidden;
    }

    .menu:hover {
        padding-bottom: 500px;
    }

}


@media (max-width: 1200px) {
    #magica {
        width: 500px;
    }

    .title {
        flex-direction: column;
    }
}

@media (max-width: 1500px) {
    #magica {
        width: 500px;
    }

    .title {
        flex-direction: column;
    }
}