body {
    color: rgb(53, 53, 53);
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin: 0;
    max-width: 100%;
    text-align: left;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 100px;
}

img {
    width: 100%;
}

h1 {
    color: black;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    font-size: 40px;
}

h2 { 
    color: black;
    margin: 0;
    padding-top: 10px;
    font-weight: normal;
}

h3 {
    padding-left: 10px;
    font-size: 25px;
}


header {
    background-color: white;
    height: 140px;
    text-align: left;
    padding-left: 30px;
    width: 100%;
}

.grid {
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

.site {
    margin: 0px;
    transform: scale(60%);
    padding: 0p;
    border: solid 1px black;
    width: 45%;
    text-align: center;
}

section {
    margin: 0;
    padding: 0;
    text-align: left;
}

p {
    font-size: 25px;
    width: 80%;
    text-align: left;
    margin: auto;
    padding-bottom: 30px;
}


@media (max-width: 1000px) {
    .grid {
        flex-direction: column;
        padding: 0;
        grid: 0;

    }

    .site {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 650px) {
    .site {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}