header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
    font-weight: lighter;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: lighter;
}

img {
    width: 100%;
}

.cast li {
    width: 25%;
}

.selected > a {
    font-weight: bold;
    color: black;
}

.cast > a > div {
    font-size: 0.8rem;
}

.cast li a div:first-of-type {
    font-weight: bold;
}

.cast li a div:last-of-type{
    font-style: italic;
}

.shows > li {
    border-top: 1px solid black;
}

#game-of-thrones .seasons li:last-of-type::after {
    content: "*";
}

#game-of-thrones .seasons:after {
    content: "*Final Season";
    font-size: 0.7rem;
    color: #999;
}