li {
    margin-bottom: 20px;
    letter-spacing: -.03em;
}

/*.bigphoto {
    margin: 0;
    height: 65vw;
    width: 100%;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://lh3.googleusercontent.com/pw/AIL4fc_Up3qly2dBeZJC86NilXAXV9bIgPKblI3VL76I4_OzquNltaa6YF1yk8V8gkwOtASM_CkbVFRc1WcC4TxH0iMNtIOGjBXCBNSZg11uEGKhDS3MKYEO=w2400)
}*/

body {
    margin: auto;
    padding: 0;
    background-color: seashell;
    font-family:'Courier New', Courier, monospace;
    max-width: 800px;
}

.content {
    padding: 20px 30px;
}

h1 {
    font-size: 40px;
    letter-spacing: -.01em;
}

p {
    letter-spacing: -.03em;
}

.prep-photos {
    display: flex;
    flex-direction: row;
    width: 600px;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.finished-photos {
    display: flex;
    flex-direction: row;
    width: 600px;
    overflow-x: scroll;
}

.ingredient-photos {
    display: flex;
    flex-direction: row;
    width: 600px;
    overflow-x: scroll;
}

.ingredient-photos::-webkit-scrollbar {
    display: none;
}

.prep-photos::-webkit-scrollbar {
    display: none;
}

.finished-photos::-webkit-scrollbar {
    display: none;
}

img {
    object-fit: cover;
    padding: 10px;
    width: 200px;
}

.scroll {
    padding: 0;
    margin-bottom: 0;
    margin-left: 8px;
}